.login-card h2 {
  color: #1e90ff;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.primary-btn {
  width: 95%;
  padding: 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.primary-btn:hover {
  background-color: #0f75d1;
}
